@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    height: 100%;
    width: 100%;
}

.text-loader {
    color: white;
}

.loading
 {
    justify-content: center;
    color: white;
    margin-top: 3vh;
    font-size: 3rem;
    opacity: 0;
}

.loader {
    width: 100%;
    height: 80vh;
    align-items: center;
    gap:3.9vw;
}

.text-loader {
    font-size: 3rem;
    opacity: 0;
}


@media (max-width:576px){
    
    .loading{
        font-size: 2rem;
    }

    .text-loader{
        font-size:1rem;
    }
}




/* ======Loading part end====== */


/* =========Nav start=========== */

.fixed {
    width: 30vw;
    height: 25vh;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
    margin-top: 10%;
    position: relative;
}

.name {
    height: 5vh;
    width: 25vw;
    position: absolute;
    margin-left: -9.5%;
    margin-top: 1%;
    font-size: 3.2rem;
    text-align: center;
}

.nav {
    margin-top: 25%;
    margin-left: 5%;
    height: 5vh;
    width: 20vw;
    gap: 40%;
}

.info,
.contact {
    font-size: 1.5rem;
    color: red;
}

.contact:hover,
.info:hover {
    color: rgba(43, 203, 15, 0.736);
}


@media (max-width:576px){
    
    .name{
        font-size: 1.8rem;
        width: 42vw;
        margin-left:4vw;
        background-color: red;
    }

    .nav {
        width: 45vw;
        font-size: 5rem;
        /* background-color: green; */
        display: flex;
        flex-wrap: nowrap;
    }
}

 



/* @media (width<768px){
    
    .name{
        font-size: 2rem;
        width: 42vw;
        margin-left:-1vw;
        background-color: blueviolet;
    }

     .nav {
        width: 42vw;
        margin-left: -2vw;
        /* background-color: yellow; */
     