@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bar {
    position: fixed;
    width: 100%;
    height: 0.6vh;
    z-index: 1000;
}

.filled {
    width: 0%;
    height: 100%;
    background-color: #ff98a2;
}

body {
    background-color: black;
}

body::-webkit-scrollbar {
    display: none;
}

.loads {
    background-color: black;

}

.loading {
    justify-content: center;
    color: white;
    /* margin-top: 3vh; */
    font-size: 3rem;
}

.loader {
    width: 100%;
    height: 100vh;
    align-items: center;
    gap: 3.9vw;
}

.text-loader {
    font-size: 3rem;
    opacity: 0;
    color: white;
}

@media (max-width: 992px) {

    .loading {
        font-size: 4rem;
    }

    .text-loader {
        font-size: 1.7rem;
    }
}

@media (max-width: 768px) {
    .loading {
        font-size: 3rem;
    }

    .text-loader {
        font-size: 1.3rem;
    }
}


@media (max-width:576px) {

    .loading {
        font-size: 2rem;
    }

    .text-loader {
        font-size: 1rem;
    }
}




/* ======Loading part end====== */


/* =========Nav start=========== */



/* //Arrow */

.arrow {
    width: 45px;
    height: 45px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
    margin: auto;
    /* left: 700px; */
    transition: ease-in;
    animation: bounce 1.5s infinite;
}

.arrow:before {
    content: "";
    position: absolute;
    top: 11px;
    left: 14px;
    width: 12px;
    height: 12px;
    border-left: 2px solid #fafafa;
    border-bottom: 2px solid #fafafa;
    transform: rotate(-45deg);
}

@keyframes bounce {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(15px);
    }

    40% {
        transform: translate(0);
    }
}



.fade-in {
    opacity: 1;
    transition: 1s all ease-in;
}

.fade-out {
    opacity: 0;
    transition: 1s all ease-out;
}

.background {
    position: absolute;
    width: 100vw;
    max-height: 90vh;
    pointer-events: none;
}

.fixed {
    width: 100;
    height: 70vh;
    z-index: 100;
    position: relative;
}


/* .fixed-2 {
    height: 300px;
    width: 500px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 100%;
    transform: translate(40%, 40%);
    z-index: 100;

}

.name {
    height: 10vh;
    width: 25vw;
    font-size: 3.2rem;
    position: fixed;
    color: red;
    z-index: 100;

}

.nav {
    margin-top: 25%;
    margin-left: 15%;
    height: 5vh;
    width: 20vw;
    gap: 30%;
    z-index: 100;

}

.info,
.contact {
    font-size: 1.5rem;
    color: red;
    z-index: 100;


}

.contact:hover,
.info:hover {
    color: rgba(43, 203, 15, 0.736);
} */

@media (max-width: 992px) {


    .name {
        font-size: 2rem;
        margin-right: 84vw;
    }

    .nav {
        font-size: 5rem;
        margin-right: 95vw;
        flex-wrap: nowrap;
    }

    .main {
        width: 20px;
    }

    .left {
        height: 50vh;
    }

    .left img {
        width: 25vw;
        margin-top: -6vh;
    }

    .right {
        width: 100vw;
        flex: auto;
        margin-top: -8vh;

    }

    .names {
        display: inline;
    }

    .myskills {
        margin-top: 10vw;
    }
}



@media (max-width: 768px) {


    .name {
        font-size: 2rem;
        width: 35vw;
        margin-left: -50vw;
    }

    .nav {
        width: 45vw;
        margin-left: -48vw;
    }

    .left img {
        width: 20px;
    }
}

@media (max-width:576px) {


    .name {
        font-size: 1.8rem;
        width: 42vw;
        margin-left: -150%;
    }

    .nav {
        width: 40vw;
        margin-left: -144%;
    }



}

.main img {
    border-radius: 50px;
    border: none;
    height: 50vh;
}


.main {
    height: 90vh;
    width: 55%;
    opacity: 0;
    margin-top: 97px;
    padding: 130px 130px;
    margin-left: auto;
    margin-right: auto;
    transform: translate(1%, 3%);
}

.left {
    width: 50%;
    padding: 20px;
}

.right {
    width: 40%;
    padding: 20px 20px;
}

.right h1,
h2 {
    color: rgb(209, 119, 119);
    font-size: 2.8rem;
}

.right p {
    margin-top: 4vh;
    color: white;
}

.names {
    height: 15vh;
    width: 20vw;
    color: white;
    line-height: 30px;
}

.button {
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

.button:hover {
    color: red;
}

.myskills {
    height: 10vh;
    width: 100%;
    /* margin-top: 5vh; */
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(209, 119, 119);
    font-family: Quicksand;
    font-weight: 400;
    font-size: 3rem;
    opacity: 0;
}

.skills {
    height: 40vh;
    width: 100%;
    align-items: center;

}

.skill {
    width: 100%;
    gap: 2vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.skill h2 {
    color: white;
    padding: 1vw 2vw;
    opacity: 0;
    /* border: 1px solid white; */
    border-radius: 50px;
    font-weight: 400;
    filter: blur(10px);
    transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
}

.fotter {
    margin-top: 60px;
    height: 45vh;
    width: 100%;
}

.name-fotter {
    font-family: Quicksand;
    font-size: 3rem;
    color: rgb(209, 119, 119);
    text-align: center;
    height: 70px;
    width: 100%;
    opacity: 0;
}

.fotter-2 {
    justify-content: space-evenly;
}

.address {
    height: 10vw;
    width: 20vw;
    margin-top: 50px;
    opacity: 0;
}

.address i,
.add {
    color: white;
    font-size: 20px;
}

.address h3,
.quicklink h3 {
    color: rgb(209, 119, 119);
}

.quicklink {
    height: 10vw;
    width: 20vw;
    margin-top: 50px;
    opacity: 0;
}

.quicklink a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.quicklink a:hover {
    color: blue;
    transition: .5s;
}