@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #d17777;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff98a2;
}

/* Prevent text selection */
* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Enable smooth scrolling */
html {
  scroll-behavior: smooth;
}

.name-footer, .address, .quicklink {
  opacity: 0;
  transform: translateY(20px); /* Adjust for desired slide-in effect */
}

/* globals.css or wherever you manage global styles */
